[Unit]
Description=Buildbot Master
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/
Environment=BUILDBOT_WEB_URL=ssm:///buildbot/web-url
Environment=BUILDBOT_ADMIN_USERNAME=ssm:///buildbot/admin-username
Environment=BUILDBOT_ADMIN_PASSWORD=ssm:///buildbot/admin-password
Environment=BUILDBOT_LINUX_WORKER_USERNAME=ssm:///buildbot/worker/linux-worker-username
Environment=BUILDBOT_WINDOWS_WORKER_USERNAME=ssm:///buildbot/worker/windows-worker-username
Environment=BUILDBOT_WORKER_PASSWORD=ssm:///buildbot/worker/worker-password
Environment=BUILDBOT_GITHUB_HOOK_SECRET=ssm:///buildbot/github_hook_secret
Environment=BUILDBOT_GITHUB_API_TOKEN=ssm:///buildbot/github_api_token
Environment=BUILDBOT_ALLOW_SSH_SG=ssm:///buildbot/allow_ssh_sg
Environment=BUILDBOT_ALLOW_RDP_SG=ssm:///buildbot/allow_rdp_sg
Environment=BUILDBOT_SUBNET=ssm:///buildbot/buildbot_subnet
Environment=BUILDBOT_WORKERS_INSTANCE_PROFILE=ssm:///buildbot/buildbot_workers_instance_profile
Environment=BUILDBOT_KEYPAIR_NAME=ssm:///buildbot/keypair_name
Environment=BUILDBOT_WORKER_INSTANCE_TYPE=ssm:///buildbot/worker_instance_type
Environment=BUILDBOT_LINUX_WORKER_AMI_ID=ssm:///buildbot/linux_worker_ami_id
Environment=BUILDBOT_WINDOWS_WORKER_AMI_ID=ssm:///buildbot/windows_worker_ami_id
ExecStart=/usr/local/bin/buildbot start --nodaemon /home/ubuntu/
ExecStopPost=/home/ubuntu/self-terminate.sh
ProtectSystem=full
PrivateDevices=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
