[Unit]
Description=Buildbot Master
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/
Environment=BUILDBOT_WEB_URL=ssm:///buildbot/web-url
Environment=BUILDBOT_ADMIN_USERNAME=ssm:///buildbot/admin-username
Environment=BUILDBOT_ADMIN_PASSWORD=ssm:///buildbot/admin-password
Environment=BUILDBOT_LINUX_WORKER_USERNAME=ssm:///buildbot/worker/linux-worker-username
Environment=BUILDBOT_WINDOWS_WORKER_USERNAME=ssm:///buildbot/worker/windows-worker-username
Environment=BUILDBOT_WORKER_PASSWORD=ssm:///buildbot/worker/worker-password
Environment=BUILDBOT_GITHUB_HOOK_SECRET=ssm:///buildbot/github_hook_secret
Environment=BUILDBOT_GITHUB_API_TOKEN=ssm:///buildbot/github_api_token
ExecStart=/usr/local/bin/buildbot start --nodaemon /home/ubuntu/
ExecStopPost= /home/ubuntu/self-terminate.sh
ProtectSystem=full
PrivateDevices=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
