[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on;'
ExecStopPost=/home/ubuntu/self-terminate.sh
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
